.horizontal-divider {
  box-sizing: content-box;
  height: 0;
  border-style: inset;
  border-width: 1px;
  color: gray;
}

.footer-bottom a:visited {
  color: white;
}

#beta-banner .usa-alert__body {
  align-items: center;
}

#beta-banner .usa-alert__text {
  max-width: fit-content;
}

#beta-banner {
  border-left-color: rgb(231, 246, 248);
}

.usa-prose > .usa-table-container--scrollable td {
  white-space: wrap;
}

.usa-table-container--scrollable table {
  table-layout: fixed;
  width: 100%;
}

p.usa-alert__text {
  max-width: none;
}

.usa-process-list__item {
  max-width: 100%;
  width: 100%;
}

.learn-more-content {
  width: 100%;
  box-sizing: border-box;
}
